<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingTracer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <PingTracer.Properties.Settings>
            <setting name="HostBoxToolTip" serializeAs="String">
                <value>Enter a comma delimited IP address and/or host name list of destination(s) you wish to monitor.

 You may click the blue Host label to choose a previously entered set name.</value>
            </setting>
        </PingTracer.Properties.Settings>
    </applicationSettings>
</configuration>
